@charset "UTF-8";

/* 共通ここから */
html{
    font-size: 62.5%;
}
.container{
    margin: 0 auto;
    max-width: 964px;
    width: calc(100% - 36px);
}
img{
    max-width: 100%;
}
h2{
    font-size: 2.4rem;
    font-weight: normal;
    color: #2D2D2D;
    line-height: calc(24 /24);
}
h3{
    font-size: 1.6rem;
    font-weight: normal;
    color: #2D2D2D;
    margin-bottom: 17px;
    line-height: calc(24 / 16);
    letter-spacing: -0.1rem;
}
p{
    font-size: 1.6rem;
    font-weight: normal;
    color: #2D2D2D;
    line-height: calc(27 / 16);
}
.flex-wrapper{
    display: flex;
    align-items: center;
}
.flex-wrapper > .contents-wrapper,
.flex-wrapper > img{
    width: 50%;
}
.contents-wrapper{
    padding-left: 67px;
    padding-right: 82px;
}

@media screen and (max-width: 750px){
    .flex-wrapper{
        display: block;
    }
    .flex-wrapper > .contents-wrapper,
    .flex-wrapper > img{
        width: 100%;
    }
    .contents-wrapper{
        margin-top: 7px;
        padding-left: initial;
        padding-right: initial;
    }
    h2{
        font-size: 2.0rem;    
    }
}
/* 共通ここまで */

/* mainvisual-wrapperここから */
.mainvisual-wrapper .container{
    max-width: 1400px;
    width: calc(100% - 140px);
    margin-top: 60px;
} 
.mainvisual-wrapper .PC{
    display: block;
}
.mainvisual-wrapper .SP{
    display: none;
}
.mainvisual-wrapper img{
    width: 100%;
}

@media screen and (max-width: 750px){
    .mainvisual-wrapper .container{
        margin-top: initial;
        width: initial;
    }
    .mainvisual-wrapper .PC{
        display: none;
    }
    .mainvisual-wrapper .SP{
        display: block;
    }
    .mainvisual-wrapper img{
        height: 334px;
        object-fit: cover;
    }
}
/* mainvisual-wrapperここまで */

/*headerここから*/
header .container{
    max-width: 1400px;
    width: calc(100% - 140px);
    display: flex;
    justify-content: flex-start;
    margin-top: 22px;
}
nav{
    max-width: 192px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: normal;
    color: #2D2D2D;
    letter-spacing: -0.1rem;
}

@media screen and (max-width: 750px){
    header .container{
        width: calc(100% - 36px);
        margin-top: 13px;
    }
    nav{
        margin-left: 36px;
    }
}
/*headerここまで*/

/*concept-wrapperここから*/
.concept-wrapper .container{
    margin-top: 57px;
    margin-bottom: 60px;
}

@media screen and (max-width: 750px){
    .concept-wrapper .container{
        margin-top: 42px;
        margin-bottom: 54px;
    }

}
/*concept-wrapperここまで*/

/*work-wrapperここから*/
.work-wrapper .container{
    margin-bottom: 75px;
}
.work-wrapper .flex-wrapper{
    flex-direction: row-reverse;
}

@media screen and (max-width: 750px){
    .work-wrapper .container{
        margin-bottom: 67px;
    }
}
/*work-wrapperここまで*/

/*footerここから*/
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    width: initial;
    font-size: 1.4rem;
    letter-spacing: -0.08rem;
}
/*footerここまで*/