@charset "UTF-8";

/* 共通ここから */
html{
    font-size: 62.5%;
}
.container{
    margin: 0 auto;
    max-width: 990px;
    width: calc(100% - 36px);
}
/* 共通ここまで */

/* mainvisual-wrapperここから */
.mainvisual-wrapper .container{
    background-image: url(/images/mainvisual.png);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    width: calc(100% - 140px);
    height: 590px;
    margin-top: 60px;
}
/* mainvisual-wrapperここまで */